bin/
.git/
engine/build/*
engine/.cache
engine/.cache/*
engine/compile_commands.json
testbed/build/*
testbed/.cache
testbed/.cache/*
testbed/compile_commands.json
tests/build/*
tests/.cache
tests/.cache/*
tests/compile_commands.json
.vs/*
.vscode/*
.nvim.lua
.github/*
log.txt
build/
engine/build-debug/*
engine/build-release/*
testbed/build-debug/*
testbed/build-release/*
debug/*
release/*

# Visual Studio
.vs/
*.VC.db
*.VC.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates
